.features-section {
  padding: 96px 0px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
  width: 100%;
  max-width: 1158px;
}

.text-features {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.feature-title {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.feature-description {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.features-container .container-icons-features {
  display: none;
}

@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    gap: 72px 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .text-features {
    flex-basis: calc((100% - 24px) / 2);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .feature-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .features-section {
    padding: 120px 0;
  }
  .features-container .container-icons-features {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
  }

  .feature-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    padding: 0px 15px;
    height: 224px;
    flex-wrap: nowrap;
  }

  .text-features {
    align-items: flex-start;
    justify-content: flex-start;
    flex-basis: auto;
  }
  .feature-title {
    font-weight: 500;
    font-size: 20px;

    /* line-height: 24px; */
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .feature-description {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
