.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.modal {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 4px;
  padding: 72px 24px 24px;
  width: 408px;
  height: 584px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  position: relative;
  overflow-y: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.icon-close {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 24px;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  transition:
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:focus,
.icon-close:hover {
  background: #404bbf;
  border-color: #404bbf;
}

.icon-close:focus .svg-close,
.icon-close:hover .svg-close {
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.svg-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.form-input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 38px;
  width: 360px;
  height: 40px;
  max-width: 360px;
  min-height: 40px;
  margin-top: 4px;
  background-color: #fcfcfc;
  transition:
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
}

/* .textarea-input::placeholder {
  font-weight: 400;
  font-size: 12px;

  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
} */

.texterea-input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  width: 360px;
  height: 120px;
  margin-bottom: 8px;
  margin-top: 4px;
  background-color: #fcfcfc;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 12px;

  /* line-height: 14px; */
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.texterea-input::placeholder {
  font-weight: 400;
  font-size: 12px;

  /* line-height: 14px; */
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.texterea-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.form-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.form-input:focus + .svg-modal {
  fill: #4d5ae5;
}

.input-wrapper-check {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: transparent;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper-check svg {
  fill: #fcfcfc;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + label .input-wrapper-check {
  background-color: #404bbf;
  border-color: #404bbf;
}

.check-input:checked + label .input-wrapper-check svg {
  opacity: 1;
}

.check-input {
  position: absolute;
  opacity: 0;
}
.check-wrapper {
  margin-bottom: 8px;
}

.accept-text {
  font-weight: 400;
  font-size: 12px;

  /* line-height: 14px; */
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  padding-left: 8px;
}

.accept-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.btn-send {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  align-self: center;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 8px;
}

.btn-send:hover,
.btn-send:focus {
  background: #404bbf;
}

.label-form {
  font-weight: 400;
  font-size: 12px;

  /* line-height: 14px; */
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
